.sidebar {
  height: 100vh;
}


  .sidebar-header {
    height: 50px;
  }

  .memo-folder {
    height: calc(100vh - 200px);
  }
  .folder-name {
    font-size: large;
  }

  .folder-form {
    height: 100px;
  }

  .sidebar-footer {
    height: 50px;
  }


  /* .list-header {
    height: 50px;
  }

  .list {
    height: calc(100vh - 50px);
  } */


  .main-header {
    height: 50px;
  }

  .main-text {
    height: calc(100vh - 50px) !important;
  }
  
  /* .form-control {
    height: calc(100vh - 50px) !important;
  } */

  
  .error-message {
    list-style: none;
    color: red;
  }